*{
    margin: 0;
    padding: 0;
}
.password{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50%;
    margin-top: 2%;

}
.show{
    position: absolute;
    left:59%;
    top:30px;
    cursor: pointer;
}
